body {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: chocolate;
}


.card {
  width: 120px;
  height: 150px;
  border: 2px solid black;
  padding: 10px;
  background-color: white;
  cursor: pointer;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  transform-style: preserve-3d;
}

.card img {
  width: 100%;
}

.gameboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  padding: 20px;
}

